.tell-result-scores-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tell-result-heading {
  color: var(--dark-color);
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.tell-result-image {
  aspect-ratio: auto;
  height: 25vh;
  object-fit: cover;
  border-radius: 20px;
}

.tell-result-back-button {
  width: 7rem;
  margin: 0 auto;
}
