.header-heading {
  color: var(--dark-color);
  margin: 0;
  font-size: 2rem;
  font-weight: 900;
}

.header-subheading {
  color: var(--dark-color);
  margin: 0;

  font-size: 1rem;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}
